@model EFTransporteAereo.Models.Voo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Voo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumAssentosOcupados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumAssentosOcupados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumAssentosLivres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumAssentosLivres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioChegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioChegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAeronaveNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAeronaveNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAeroportoDestinoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAeroportoDestinoNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAeroportoOrigemNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAeroportoOrigemNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPilotoNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
