@model EFTransporteAereo.Models.Aeronave

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aeronave</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumAssentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumAssentos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFabricanteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFabricanteNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
